ul.actions, ul.icons{ cursor: default; }
.image.icon::before, h1, h2, h3, header, ul.actions, ul.icons li a, ul.icons li span{ text-align: center; }
a, body, div, form, h1, h2, h3, header, html, img, li, p, section, span, ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font: inherit; vertical-align: baseline; }
 header.major{ border-top-color: rgba(224, 224, 224, 0.746094); border-right-color: rgba(224, 224, 224, 0.746094); border-bottom-color: rgba(224, 224, 224, 0.746094); border-left-color: rgba(224, 224, 224, 0.746094); border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; }
 header, section{ display: block; }
ul{ list-style-type: none; list-style-position: initial; list-style-image: initial; }
body{ -webkit-text-size-adjust: none; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
*{ box-sizing: border-box; }
.container.\37 5\%{ width: 38.25em; }
.container{ margin-left: auto; margin-right: auto; width: 51em; }
@media screen and (max-width: 1680px){
.container.\37 5\%{ width: 38.25em; }
.container{ width: 51em; }
}
@media screen and (max-width: 1280px){
.container.\37 5\%{ width: 36em; }
.container{ width: 48em; }
}
@media screen and (max-width: 980px){
.container.\37 5\%{ width: 71.25%; }
.container{ width: 95%; }
}
@media screen and (max-width: 840px){
.container.\37 5\%{ width: 71.25%; }
.container{ width: 95% !important; }
}
@media screen and (max-width: 736px){
.container.\37 5\%{ width: 67.5%; }
.container{ width: 90% !important; }
}
@media screen and (max-width: 480px){
.container.\37 5\%{ width: 75%; }
.container{ width: 100% !important; }
}
.row{ border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: transparent; box-sizing: border-box; margin-top: -30px; margin-right: 0px; margin-bottom: -1px; margin-left: -30px; }
.row, .row > *{ box-sizing: border-box; }
.row > *{ float: left; box-sizing: border-box; padding-top: 30px; padding-right: 0px; padding-bottom: 0px; padding-left: 30px; }
.row::after, .row::before{ content: ''; display: block; clear: both; height: 0px; }
.\31 2u, .\36 u{ clear: none; margin-left: 0px; }
.\31 2u{ width: 100%; }
.\36 u{ width: 50%; }
@media screen and (max-width: 1680px){
.row > *{ padding-top: 30px; padding-right: 0px; padding-bottom: 0px; padding-left: 30px; }
.row{ margin-top: -30px; margin-right: 0px; margin-bottom: -1px; margin-left: -30px; }
}
@media screen and (max-width: 1280px){
.row > *{ padding-top: 30px; padding-right: 0px; padding-bottom: 0px; padding-left: 30px; }
.row{ margin-top: -30px; margin-right: 0px; margin-bottom: -1px; margin-left: -30px; }
}
@media screen and (max-width: 980px){
.row > *{ padding-top: 30px; padding-right: 0px; padding-bottom: 0px; padding-left: 30px; }
.row{ margin-top: -30px; margin-right: 0px; margin-bottom: -1px; margin-left: -30px; }
}
@media screen and (max-width: 840px){
.row > *{ padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; }
.row{ margin-top: -20px; margin-right: 0px; margin-bottom: -1px; margin-left: -20px; }
}
@media screen and (max-width: 736px){
.row > *{ padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; }
.row{ margin-top: -20px; margin-right: 0px; margin-bottom: -1px; margin-left: -20px; }
}
@media screen and (max-width: 480px){
.row > *{ padding-top: 20px; padding-right: 0px; padding-bottom: 0px; padding-left: 20px; }
.row{ margin-top: -20px; margin-right: 0px; margin-bottom: -1px; margin-left: -20px; }
.\31 2u\(mobilep\){ width: 100%; clear: none; margin-left: 0px; }
}
body, html{ height: 100%; }
 header.major::after, header.major::before{ content: ''; left: 0px; width: 100%; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(224, 224, 224, 0.746094); height: 1px; background-position: initial initial; background-repeat: initial initial; }
body, input, textarea{ color: rgb(110, 110, 110); font-family: 'Source Sans Pro', sans-serif; font-size: 16pt; font-weight: 400; line-height: 1.75em; }
a{ -webkit-transition-property: color, border-bottom-color; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: ease-in-out, ease-in-out; -webkit-transition-delay: initial, initial; border-bottom-style: dotted; border-bottom-width: 1px; border-bottom-color: initial; color: rgb(198, 81, 86); text-decoration: none; }
form, p, ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 2em; margin-left: 0px; }
h1, h2, h3{ color: rgb(91, 91, 91); font-weight: 700; letter-spacing: 0.125em; line-height: 1.75em; margin-bottom: 1em; text-transform: uppercase; }
input[type="text"], input[type="email"], ul.icons li{ line-height: 1em; }
h2{ font-size: 1.75em; }
h3{ font-size: 1.5em; }
header.major{ border-bottom-width: 1px; margin-bottom: 6em; padding-top: 4em; padding-right: 0px; padding-bottom: 4em; padding-left: 0px; position: relative; }
header.major::after, header.major::before{ display: block; position: absolute; }
header.major::before{ top: 10px; }
header.major::after{ bottom: 10px; }
header.major h2{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
header.major.last{ border-bottom-width: 0px; border-bottom-style: initial; border-bottom-color: initial; margin-bottom: 0px; padding-bottom: 0px; }
header.major.last::after{ display: none; }
header.major.last h2{ margin-bottom: 1em; }
input[type="text"], input[type="email"], textarea{ -webkit-appearance: none; -webkit-transition-property: background-color; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-left-radius: 4px 4px; border-top-right-radius: 4px 4px; border-bottom-right-radius: 4px 4px; border-bottom-left-radius: 4px 4px; border-style: initial; border-color: initial; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(224, 224, 224, 0.746094); border-right-color: rgba(224, 224, 224, 0.746094); border-bottom-color: rgba(224, 224, 224, 0.746094); border-left-color: rgba(224, 224, 224, 0.746094); color: inherit; display: block; outline-width: 0px; outline-style: initial; outline-color: initial; padding-top: 0.75em; padding-right: 0.75em; padding-bottom: 0.75em; padding-left: 0.75em; text-decoration: none; width: 100%; opacity: 1; background-position: 0px 0px; background-repeat: initial initial; }
textarea{ padding-top: 0.5em; padding-right: 0.75em; padding-bottom: 0.5em; padding-left: 0.75em; }
.image{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; display: inline-block; position: relative; }
.image img, .image::after{ display: block; }
.image::after{ -webkit-transition-property: opacity; -webkit-transition-duration: 0.25s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; background-image: url(images/overlay.png); content: ''; height: 100%; left: 0px; opacity: 0.2; position: absolute; top: 0px; width: 100%; }
.image.icon{ -webkit-perspective: 500px; }
.image.icon::before{ -webkit-transition-property: -webkit-transform, font-size; -webkit-transition-duration: 0.1s, 0.1s; -webkit-transition-timing-function: ease-in-out, ease-in-out; -webkit-transition-delay: initial, initial; color: rgb(255, 255, 255); font-size: 6em; height: 1em; left: 50%; line-height: 1em; margin-top: -0.5em; margin-right: 0px; margin-bottom: 0px; margin-left: -0.5em; position: absolute; top: 50%; width: 1em; z-index: 1; }
.feature, .feature .image, .icon{ position: relative; }
.icon{ text-decoration: none; border-bottom-style: none; border-bottom-width: initial; border-bottom-color: initial; }
.icon::before{ -webkit-font-smoothing: antialiased; font-family: FontAwesome; font-style: normal; font-weight: 400; text-transform: none !important; }
.icon > .label{ display: none; }
ul.icons li{ display: inline-block; font-size: 1.25em; padding-left: 0.5em; }
ul.icons li:first-child{ padding-left: 0px; }
ul.icons li a, ul.icons li span{ -webkit-transition-property: background-color; -webkit-transition-duration: 0.2s; -webkit-transition-timing-function: ease-in-out; -webkit-transition-delay: initial; border-top-left-radius: 100% 100%; border-top-right-radius: 100% 100%; border-bottom-right-radius: 100% 100%; border-bottom-left-radius: 100% 100%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(224, 224, 224, 0.746094); border-right-color: rgba(224, 224, 224, 0.746094); border-bottom-color: rgba(224, 224, 224, 0.746094); border-left-color: rgba(224, 224, 224, 0.746094); display: inline-block; height: 2em; line-height: 2em; width: 2em; }
ul.actions:last-child{ margin-bottom: 0px; }
ul.actions li{ display: inline-block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 1.5em; }
ul.actions li:first-child{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.button, input[type="submit"]{ -webkit-appearance: none; -webkit-transition-property: color, background-color; -webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: ease-in-out, ease-in-out; -webkit-transition-delay: initial, initial; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(84, 77, 85); border-top-left-radius: 4px 4px; border-top-right-radius: 4px 4px; border-bottom-right-radius: 4px 4px; border-bottom-left-radius: 4px 4px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font-size: 0.9em; font-weight: 700; letter-spacing: 0.125em; line-height: 3.25em; min-width: 15em; padding-top: 0px; padding-right: 1.5em; padding-bottom: 0px; padding-left: 1.5em; text-align: center; text-decoration: none; text-transform: uppercase; background-position: initial initial; background-repeat: initial initial; }
.box{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(224, 224, 224, 0.746094); border-right-color: rgba(224, 224, 224, 0.746094); border-bottom-color: rgba(224, 224, 224, 0.746094); border-left-color: rgba(224, 224, 224, 0.746094); margin-bottom: 6em; padding-top: 3.5em; padding-right: 3.5em; padding-bottom: 3.5em; padding-left: 3.5em; background-position: initial initial; background-repeat: initial initial; }
.box.alt{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-position: 0px 0px; background-repeat: initial initial; }
.feature{ height: 20em; }
.feature::after{ clear: both; content: ''; display: block; }
.feature h3{ text-align: inherit; }
.feature .image{ display: inline-block; height: 100%; overflow-x: hidden; overflow-y: hidden; width: 50%; }
.feature .image img{ display: block; min-height: 100%; min-width: 100%; position: absolute; }
 #header{ position: relative; }
.feature::before{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(0, 0, 255); content: ''; display: inline-block; height: 100%; vertical-align: middle; background-position: initial initial; background-repeat: initial initial; }
.feature .content{ display: inline-block; padding-top: 3.5em; padding-right: 3.5em; padding-bottom: 3.5em; padding-left: 3.5em; vertical-align: middle; width: 48%; }
.feature .content h3{ margin-bottom: 0.5em; }
.feature .content :last-child{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
.feature.left{ text-align: left; }
.feature.left .image{ float: left; }
.feature.left .image img{ right: 0px; top: 0px; }
.feature.left .content{ padding-right: 0px; }
.feature.right{ text-align: right; }
 #header, #header .logo{ text-align: center; }
.feature.right .image{ float: right; }
.feature.right .image img{ left: 0px; top: 0px; }
.feature.right .content{ padding-left: 0px; }
#header{ background-attachment: scroll, scroll, fixed; background-image: url(images/top-3200.svg), url(images/overlay.png), url(../../images/min/header.webp); background-size: 3200px 460px,  , cover; color: rgba(255, 255, 255, 0.796875); padding-top: 10em; padding-right: 0px; padding-bottom: 20em; padding-left: 0px; background-position: 50% 100%, 0% 0%, 50% 50%; background-repeat: repeat-x, repeat, no-repeat; }
#header::before{ opacity: 0.15; top: 0px; }
#header::after{ bottom: 0px; height: 50px; }
#header .logo{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(198, 81, 86); border-top-left-radius: 100% 100%; border-top-right-radius: 100% 100%; border-bottom-right-radius: 100% 100%; border-bottom-left-radius: 100% 100%; color: rgb(255, 255, 255); cursor: default; display: inline-block; font-size: 2.25em; height: 2.35em; line-height: 2.35em; margin-top: 0px; margin-right: 0px; margin-bottom: 0.75em; margin-left: 0px; width: 2.35em; background-position: initial initial; background-repeat: initial initial; }
 #main::before{ content: ''; left: 50%; top: 0px; width: 1px; }
#header h1{ color: rgb(255, 255, 255); font-size: 2.5em; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
#header p{ font-size: 1.5em; line-height: 1.5em; margin-top: 0.25em; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
#footer a, #footer h2{ color: rgb(255, 255, 255); }
#footer input[type="submit"]{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px inset; color: rgb(198, 81, 86); background-position: initial initial; background-repeat: initial initial; }
#footer form{ margin-top: 3em; margin-right: 0px; margin-bottom: 3em; margin-left: 0px; }
#footer .copyright{ color: rgba(255, 255, 255, 0.496094); font-size: 0.8em; line-height: 1em; margin-top: 3em; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; }
#footer .copyright li{ border-left-style: dotted; border-left-width: 1px; border-left-color: initial; display: inline-block; margin-left: 1em; padding-left: 1em; }
#footer .copyright li:first-child{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; }
#main{ padding-top: 6em; padding-right: 0px; padding-bottom: 5em; padding-left: 0px; position: relative; z-index: 1; }
#main::before{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(224, 224, 224, 0.746094); height: 100%; position: absolute; z-index: -1; background-position: initial initial; background-repeat: initial initial; }
 #main header.major{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; }
@media screen and (max-width: 1680px){
body, input, textarea{ font-size: 14pt; }
h2{ font-size: 1.5em; }
h3{ font-size: 1.25em; }
#header{ padding-top: 8em; padding-right: 0px; padding-bottom: 8em; padding-left: 0px; }
#header h1{ font-size: 2.25em; }
#header p{ font-size: 1.25em; line-height: 1.65em; }
}
@media screen and (max-width: 1280px){
 header.major{ padding-top: 3em; padding-right: 0px; padding-bottom: 3em; padding-left: 0px; }
.box, header.major{ margin-bottom: 4em; }
body, input, textarea{ font-size: 13pt; }
h2{ font-size: 1.35em; }
h3{ font-size: 1.15em; }
.box, .feature .content{ padding-top: 2.5em; padding-right: 2.5em; padding-bottom: 2.5em; padding-left: 2.5em; }
.feature{ height: 18em; }
#header{ background-attachment: scroll, scroll, scroll; background-image: url(images/top-1600.svg), url(images/overlay.png), url(../../images/min/header.webp); background-size: 1600px 230px,  , cover; padding-top: 6em; padding-right: 0px; padding-bottom: 12em; padding-left: 0px; }
#header::before{ }
#header::after{ height: 25px; }
#header h1{ font-size: 2em; }
#header p{ font-size: 1.15em; }
#main{ padding-top: 4em; padding-right: 0px; padding-bottom: 3em; padding-left: 0px; }
}
@media screen and (max-width: 980px){
body, input, textarea{ font-size: 12pt; }
}
@media screen and (max-width: 840px){
 header.major{ padding-left: 2em; padding-right: 2em; }
}
@media screen and (max-width: 736px){
.box, .feature, header.major{ margin-bottom: 2em; }
h2, h3{ font-size: 1em; }
ul.actions li{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px; }
.box{ padding-top: 2em; padding-right: 2em; padding-bottom: 2em; padding-left: 2em; }
.feature{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255); display: block; height: auto; background-position: initial initial; background-repeat: initial initial; }
.feature::after, .feature::before{ display: none; }
.feature .image{ float: none; height: 15em; width: 100%; }
.feature .content{ border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(224, 224, 224, 0.746094); border-right-color: rgba(224, 224, 224, 0.746094); border-bottom-color: rgba(224, 224, 224, 0.746094); border-left-color: rgba(224, 224, 224, 0.746094); padding-top: 2em !important; padding-right: 2em !important; padding-bottom: 2em !important; padding-left: 2em !important; text-align: center; width: 100%; }
#header{ background-image: url(images/top-1280.svg), url(images/overlay.png), url(../../images/min/header.webp); background-size: 1280px 184px,  , cover; padding-top: 3em; padding-right: 0px; padding-bottom: 7em; padding-left: 0px; }
#header::before{ }
#header::after{ height: 20px; }
#header .logo{ font-size: 1.5em; }
#header h1{ font-size: 1.25em; }
#header p{ font-size: 1em; }
#footer form{ padding-bottom: 0px; }
#main{ padding-top: 2em; padding-right: 0px; padding-bottom: 2em; padding-left: 0px; }
}
@media screen and (max-width: 480px){
 header.major{ padding-left: 1em; padding-right: 1em; }
ul.icons li{ padding-top: 0.2em; padding-right: 0.2em; padding-bottom: 0.2em; padding-left: 0.2em; }
ul.actions li{ display: block; padding-top: 15px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
ul.actions li:first-child{ padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
.button, input[type="submit"]{ display: block; width: 100%; }
.box{ padding-top: 2em; padding-right: 1em; padding-bottom: 2em; padding-left: 1em; }
.feature{ margin-bottom: 1em; }
.feature .content{ padding-top: 2em !important; padding-right: 1em !important; padding-bottom: 2em !important; padding-left: 1em !important; }
 #main{ padding-left: 1em; padding-right: 1em; }
#footer .copyright li{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; display: block; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0.75em; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
#header{ padding-left: 2em; padding-right: 2em; }
#header br{ display: none; }
}
